.doux-img{
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 600px;
    position: relative;
}

.doux-img::before{
    content: "";
    background-image: url("https://images.unsplash.com/photo-1605092609498-6093cccc0468?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position:top ;
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doux-img p { 
    font-size: 1.4rem;
    text-align: center;
}
.doux-img h1 { 
    font-size: 2.4rem;

}

@media screen and (max-width: 640px) {
    

    .doux-img h1 { 
        font-size: 2rem;
    
    }

}